body {
    background-color: #000;
    color: #fff;
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 50px;
}

#palavra-exibida {
    font-size: 2em;
    margin: 20px 0;
}

#letras-usadas {
    margin: 10px 0;
}
